$navKleurBg: pink;

#kop {
    background-color: $navKleurBg;

    img {
        width: 32px;
        height: auto;
        display: inline-block;
        margin-right: 8px;
    }

    h1 {
        font-size: 180%;
        font-weight: normal;
        display: inline-block;
        vertical-align: middle;
        margin: 0;
    }
}

#inhoud
{
    margin-top: 50px;
    h1 {
        margin-bottom: 50px;
    }

    #landInfo
    {
        h2 {
            button {
                font-weight: bold;
                font-size: 20px;
            }
        }

        .landDetail {
          background-color: #f4f4f4;
          
          .landDetailItem {
                font-weight: bold;
                border-bottom: 1px solid #ddd;
                padding-bottom: 8px;
                padding-top: 12px;

                label {
                    width: 100px;
                    display: inline-block;
                    font-weight: normal;
                }
          }
        }
    }
}